body {
    --background-color: rgba(15, 15, 15, 0.975);
    --title-color: white;
    --text-color: gray;
    --main-bg-color: rgba(15, 15, 15, 0.975);
    --card-border: #035464;
    --card-bg: rgba(21, 21, 21, 1);
    --date-color: #222e3b;
}

body.light-mode {
    --background-color: white;
    --title-color: black;
    --text-color: gray;
    --main-bg-color: #e9ecef8a;
    --card-border: #e9ecef;
    --card-bg: #e9ecef8a;
    --date-color: #222e3b;
}

header {
    background-color: var(--background-color) !important;
}

main {
    background-color: var(--main-bg-color) !important;
}

.switch-button-content {
    display: flex;
    align-items: center;
    margin: auto;
}

.switch-button-text {
    font-size: 20px;
    color: var(--title-color);
    margin-left: 0;
    font-family: 'Kodchasan';
    margin-right: 1rem;
    margin-bottom: 0;
}

.resume-content {
    display: flex;
    flex-direction: column;
}

.resume-section {
    flex: 1;
}

.sitename {
    color: var(--title-color) !important;
}

footer {
    background-color: var(--main-bg-color) !important;
}

footer .support span {
    color: var(--title-color) !important;
}

.navmenu-toggle {
    color: var(--title-color) !important;
}

.about-card {
    background: linear-gradient(45deg, rgba(3, 84, 100, 1) 0%, rgba(9, 121, 105, 1) 13%, var(--card-bg) 45%) !important;
    border-right: 1px solid var(--card-border) !important;
    border-bottom: 1px solid var(--card-border) !important;
}

.work-title {
    margin-top: 1rem;
    font-family: 'Kodchasan';
    color: #035464;
}

.resume-section h6 {
    font-family: "Sour Gummy";
    color: var(--date-color) !important;
}